@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@model IEnumerable<Portfolio.Models.HomeListViewModel>


    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Overzicht Projecten.</p>

        @*no clue how to do these filters*@

        @if (Model != null)
        {
            foreach (var item in Model)
            {

                <div class="form-group">
                    <label> Filter on status</label><br />
                    <select asp-for="@item.SelectedStatus" asp-items="@item.Statuses" class="btn btn-secondary text-danger"></select>
                    <span class="text-danger" asp-validation-for="@item.SelectedStatus"></span>
                </div>



                break;
            }


            @foreach (var item in Model)
            {

                <div class="jumbotron">
                    <h1 class="display-4">@item.Titel</h1>
                    <hr class="my-4">
                    <p class="lead">@item.Beschrijving</p>

                    <a class="btn btn-secondary text-danger btn-lg" asp-action="Details" asp-controller="Home" asp-route-id="@item.Id" role="button">Details</a>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <a class="btn btn-secondary text-danger btn-lg" asp-action="Edit" asp-controller="Home" asp-route-id="@item.Id" role="button">Edit</a>
                        <a class="btn btn-secondary text-danger btn-lg" asp-action="Delete" asp-controller="Home" asp-route-id="@item.Id" role="button">Delete</a>
                    }
                </div>
            }
        }
        else
        {
            <p>Geen Projecten gevonden.</p>
        }
    </div>
@if (SignInManager.IsSignedIn(User))
{
    <a class="btn btn-secondary text-danger" asp-action="Create" asp-controller="Home" role="button">Create</a>

}